<!DOCTYPE html>
<html>
<head>
	<title>Faction Ships</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
	</nav>
	<section>
		<p>Behold the power of your Fleet!!</p>
		<% @fleet.each do |ship| %>
			<table>
				<thead>
					<th colspan="6"><%=ship[0]%></th>
					<th colspan="3">Points: <%=ship[10]%></th>
				</thead>
				<tr>
					<td>Scan</td>
					<td>Signature</td>
					<td>Thrust</td>
					<td>Hull</td>
					<td>Armor</td>
					<td>PD</td>
					<td>G</td>
					<td>T</td>
					<td>Special</td>
				</tr>
				<tr>
					<td><%=ship[1]%></td>
					<td><%=ship[2]%></td>
					<td><%=ship[3]%></td>
					<td><%=ship[4]%></td>
					<td><%=ship[5]%></td>
					<td><%=ship[6]%></td>
					<td><%=ship[7]%></td>
					<td><%=ship[8]%></td>
					<td><%=ship[9]%></td>
				</tr>
			</table><br>
			<%end%>
		<!-- <p><%= @fleet %></p> -->
	</section>
</body>
</html>